body{
    background: linear-gradient( 45deg, cornflowerblue,pink );
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 10vh;
    width: 90vw !important;
}
.gear{
    font-size: 100px !important;
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
p{
    font-size: 40px;
    margin-top: 10vh !important;
}
.list-group{
    width: 500px;
    max-width: 80vw;
    margin: 0 auto;
}